{% load leaflet_tags %}
{% load static %}
<html>
  <head>
  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBS5Z15GZ1ZMPdKPvpxigVavP8aHvDFZb0&callback=initMap">
  </script>
  <script src="{ static node_modules/@deck-gl/google-maps/google-maps-overlay.js}" type="text/javascript"></script>
  <style>
    body { margin: 0;}
    #map {
      width: 100vw;
      height: 100vh;
      }
  </style>

  </head>
  <body>
    Hi! <span id="name"></span>
    <div id="counter"></div>
    <script src="{% static 'js/app.js' %}"></script>
  </body>

</html>
